body {
	background-image: url("../images/upfeathers.png");
	border: #dddddd;
	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans‐serif;
}

header {
	border-color: #black;
	padding-top: 10px;
	border: 40px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
} 

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bolder;
}

.container {
	clear: both;
	width: 960px;
}

footer {
	clear: both;
	background-color: grey;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 10px;
}
 a {
 	color: #777777;
 }